ul .active {
  background: yellow;
}

nav .active {
  border-bottom: 1px solid purple;
}




.App {
  text-align: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  padding: 5px;
}

.tasks-page {
  margin-top: 20px;
  display: flex;
}

.left {
  flex-shrink: 0;
  width: 300px;
}

.right {
  flex: 1;
}

.tasks-page a {
  text-decoration: none; 
}

