body {
    background: beige;
    padding: 0;
    margin: 0;
}

main {
  padding: 10px;
}

main li {
  line-height: 2;
}

.header {
    background: rgba(0,0,0,0.8);
    padding: 10px;
    margin: 0;
    overflow: auto;
}

.header input {
    background: grey;
    color: white;
    padding: 10px;
    margin-left: 10px;
    border: 0;
}

.header label {
    background: white;
    padding: 10px;
    padding-right: 0;
    padding-top: 8px;
}

